#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#quote-box {
  margin: auto 20px;
  padding: 50px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#quote {
  text-align: center;
}

.fa-quote-left {
  font-size: 1.5em;
}

#text {
  margin-top: 15px;
}

#author {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  text-align: center;
}

h5 {
  font-style: italic;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.fa-brands,
#new-quote {
  color: white;
}

#new-quote {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#new-quote,
#quote-box {
  border-radius: 3px;
}

#new-quote:hover,
#tweet-quote:hover {
  opacity: .9;
}

/* Media query for 390x844 */
@media screen and (min-width: 390px) and (max-height: 844px) {
  /* Your CSS rules for this breakpoint */
  #quote-box {
    height: 50vh;
    width: 90vw;
  }
}

/* Media query for 768x1024 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Your CSS rules for this breakpoint */
  #quote-box {
    height: 40vh;
    width: 60vw;
  }
}

/* Media query for 1280x800 */
@media screen and (min-width: 1280px) and (max-height: 800px) {
  /* Your CSS rules for this breakpoint */
  #quote-box {
    height: 50vh;
    width: 40vw;
  }
}

/* Media query for 1440x900 */
@media screen and (min-width: 1440px) and (max-height: 900px) {
  /* Your CSS rules for this breakpoint */
  #quote-box {
    height: 50vh;
    width: 40vw;
  }
}